*.bmarks
*.cbp
*.save
*.depend
*.layout
*.html
*.txt
*.o
*.exe
*.jpg
*.bmp
*.bat
*.cum
/russkie_alga!/*.png
/hamlet/bin/*
/hamlet/obj/*
/hamlet/pit/*
/processor/bin/*
/processor/doxygen/*
/processor/Far/*
/processor/obj/*
